- form_for(@ship) do |f|   
  = f.error_messages   
  %p
    = f.label :name   
    = f.text_field :name   
  %p
    = f.label :description   
    = f.text_area :description   
  %p
    = f.label :tonnage   
    = f.text_field :tonnage   
  %o 
    = f.label :configuration
    = f.select :configuration_id, Configuration.find(:all).collect{ |c| [c.name,c.id] }  
  %p
    = f.label :tech_level   
    = f.select :tech_level, (7..15).map { |i| i }
  %p
    = f.label :jumpdrive
    = f.select :jumpdrive, (1..6).map { |i| i }
  %p
    = f.label :thrust
    = f.select :thrust, (1..6).map { |i| i }
  %p
    = f.label :power       
    = f.select :power, (1..18).map { |i| i } 
  %p
    = f.submit @ship.new_record? ? 'Create' : 'Update'