%h1
  Editing ship
- form_for(@ship) do |f| 
  = f.error_messages 
  %p
    = f.label :name 
    %br
    = f.text_field :name 
  %p
    = f.label :description 
    %br
    = f.text_area :description 
  %p
    = f.submit 'Update'  

%p
  = link_to 'Show', @ship  |
  = link_to 'Back', ships_path 
